<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color: #137BBD;">Pagare Payment and Printing</h2>
        <h3 class="oe_slogan">Outbound and inbound pagare payment methods.</h3>
        <h3 class="oe_slogan">Print your emitted pagares (pre-numbered document supported).</h3>
        <div class="oe_screenshot" style="width: fit-content; margin-left: auto; margin-right: auto;">
            <img style="width: 100%;" src="image-01.png">
        </div>
    </div>
    <div class="oe_row">
        <div class="oe_span12 text-justify">
            <p>
                You can find the configuration options in the account journals. To allow this payment method in the
                journal, ensure that they are selected like
                <span style="color: #ff0000; font-size: 1.5em;">&#9312;</span> and
                <span style="color: #ff0000; font-size: 1.5em;">&#9313;</span>.
            </p>
            <p>
                If your pagare documents are not pre-numbered, check number
                <span style="color: #ff0000; font-size: 1.5em;">&#9314;</span>.
            </p>
            <p>
                Select the outbound bridge account in
                <span style="color: #ff0000; font-size: 1.5em;">&#9315;</span>.
                This will move the amount paid to this account.
            </p>
            <p>
                Select the document printing format in
                <span style="color: #ff0000; font-size: 1.5em;">&#9316;</span>.
                You can install additional formats if default does not fit.
            </p>
            <p>
                Select the inbound bridge account in
                <span style="color: #ff0000; font-size: 1.5em;">&#9317;</span>.
                This will move the amount debited to this account.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Now you can select Pagare when registering a payment.</h3>
        <div class="oe_screenshot" style="width: fit-content; margin-left: auto; margin-right: auto;">
            <img style="width: 100%;" src="image-02.png">
        </div>
    </div>
    <div class="oe_row">
        <div class="oe_span12 text-justify">
            <p>
                Select the journal with Pagare enabled as your payment journal, in
                <span style="color: #ff0000; font-size: 1.5em;">&#9312;</span>.
            </p>
            <p>
                Select [pagare_printing] payment method type in
                <span style="color: #ff0000; font-size: 1.5em;">&#9313;</span>.
            </p>
            <p>
                You can change the pagare due date in
                <span style="color: #ff0000; font-size: 1.5em;">&#9314;</span>
                if it's not the same from invoice.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">One-click access to your pending pagare's list.</h3>
        <div class="oe_screenshot" style="width: fit-content; margin-left: auto; margin-right: auto;">
            <img style="width: 100%;" src="image-03.png">
        </div>
        <br/>
    </div>
    <div class="oe_row">
        <div class="oe_screenshot" style="width: fit-content; margin-left: auto; margin-right: auto;">
            <img style="width: 100%;" src="image-04.png">
        </div>
        <br/>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Print pre-numbered pagares.</h3>
        <div class="oe_screenshot" style="width: fit-content; margin-left: auto; margin-right: auto;">
            <img style="width: 100%;" src="image-05.png">
        </div>
        <br/>
    </div>
    <div class="oe_row">
        <div class="oe_screenshot" style="width: fit-content; margin-left: auto; margin-right: auto;">
            <img style="width: 100%;" src="image-06.png">
        </div>
        <br/>
    </div>
    <div class="oe_row">
        <h3 class="oe_slogan">Payment name and account move will be updated with the supplied number.</h3>
        <div class="oe_screenshot" style="width: fit-content; margin-left: auto; margin-right: auto;">
            <img style="width: 100%;" src="image-07.png">
        </div>
        <br/>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <br/>
        <hr/>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan" style="margin-bottom: 0;">Created and maintained by:</h3>
    </div>
    <div class="oe_row">
        <div class="oe_centered" style="width: fit-content;">
            <a href="http://www.fenix-es.com" target="new" ><img src="fenix_oca_logo.png" align="center"></a>
        </div>
        <br/>
    </div>

    <div class="oe_row">
        <div class="oe_centered" style="display: table;">
            To contribute to this module, please visit the
            <a href="https://github.com/fenix-es/odoo-addons" target="new" >GitHub page</a>
            and file an issue or pull request.
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

